.post {
    border: 2px solid black;
    width: 19%;
    padding: 5px;
}
.wrap {
    display: flex;
    flex-wrap: wrap;
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
}
.comment {
    border: 2px solid black;
    width: 19%;
    padding: 5px;
}